<style>
    .skills-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .skills-container a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Adjust the size of the icons */
    height: 80px; /* Adjust the size of the icons */
    background-color: #3498db; /* Change the background color */
    border-radius: 10px; /* Rounded corners */
  }

  .skills-container img {
    width: 50%; /* Adjust the size of the icon inside the button */
    height: 50%; /* Adjust the size of the icon inside the button */
    margin: auto; /* Center the icon inside the button */
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px; /* Adjust the width as needed */
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }

  .social-icons a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 50px; /* Adjust the size of the icons */
    height: 50px; /* Adjust the size of the icons */
    text-align: center;
    line-height: 50px; /* Adjust vertically align if needed */
    background-color: white; /* Change the background color */
    border-radius: 5px; /* Rounded corners */
    margin-right: 5px; /* Adjust spacing between icons */
  }

  .social-icons img {
    width: 200%; /* Adjust the size of the icon inside the button */
    vertical-align: middle; /* Center the icon vertically */
  }
</style>
